html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar .navbar-nav .nav-link {
  font-family: "Over the Rainbow", cursive !important;
  color: #EF6278 !important;
  background-color: #ffff !important;
}

.navbar .navbar-nav .btn-primary:hover,
.navbar .navbar-nav .btn-primary:focus,
.navbar .navbar-nav .btn-primary:active {
    background-color: #0d6efd !important;  /* Bootstrap default blue, or pick your own */
    border-color: #0d6efd !important;
    color: #fff !important;
}
